<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>758035917316-4eqtquktgg2j55n0o65p5lnqd7526jkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758035917316-4eqtquktgg2j55n0o65p5lnqd7526jkm</string>
	<key>API_KEY</key>
	<string>AIzaSyAC41BkTpzweP8yYCeECwWwZ7u0ZZW-Kv0</string>
	<key>GCM_SENDER_ID</key>
	<string>758035917316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.calpoly.mjcraney.final-project</string>
	<key>PROJECT_ID</key>
	<string>final-project-35a24</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-35a24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758035917316:ios:f6f70d56b8b63079</string>
	<key>DATABASE_URL</key>
	<string>https://final-project-35a24.firebaseio.com</string>
</dict>
</plist>